
body {
	background-color: darkgrey;
	font-size: 100%;
}

#title {
	
	font-size: 1.5em;
	font-family: sans-serif;
	padding: 50em;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}
#nav {
	width: 20%;
	float: left;
	background: lightgrey;
	padding: 5em;
	color: #92849D;
}
#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 75%;
	background-color: white;
	padding: 1em;
	font-family: serif;
}
#illustration {
	text-align: center;
	float: right;
}

